*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed';
  box-sizing: border-box;
}
.container{
  width: 1000px;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.slides{
  width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  jusitfy-content: center;
  gap: 50px;
  color: #fff;
  background: #000a12; 
  scroll-snap-align: start;
}
.slides img{
  width: 350px;
}
.row {
  display: flex;
}
.column {
  display: flex;
  text-align: center;
}
